<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/MainPage.css">
  <link rel="icon" type="image/x-icon" href="../static/images/logo1.png" sizes="64x64 32x32">
  <title>Cranium Cryptics</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/signin.css">
  <script>
      history.pushState(null, null, document.URL);
      window.addEventListener('popstate', function () {
          alert("Hey! You are not allowed to go back!")
      history.pushState(null, null, document.URL);
   });
  </script>
</head>
<!-- body of the login page -->
<body class="align">
  <!-- form for the login page -->
  <div class="form-space">
      <!-- image section of the login page -->
      <section class="signin-image">
          <img src="../static/images/logo1.png" height="80px" width="80px">
          <h1>Sign in to <span class="heading-span">Cranium</span> Cryptics</h1>
      </section>

      <!-- form section of the login page -->
      <div class="login-container">

        <form class="form login" id="loginForm">
            <!-- username field -->
            <div class="form__field">
              <label for="login__username" class="content-login">Username:</label>
              <input id="login__username" type="text" name="username" class="form__input"
                     placeholder="Username" required>
            </div>

            <!-- password field -->
            <div class="form__field">
                <div class="password-content">
                    <label for="login__password" class="content-login">Password:</label>
                    <a href="/forgot" class="forgot">Forgot Password?</a>
                </div>
                <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
            </div>
            <!-- submit button -->
            <div class="form__field">
                <input type="submit" value="Sign In">
            </div>

        </form>
        <!-- registration  page link -->
        <div class="signin-registration">
             <p class="error-message"></p>
             <p class="text--center">Not Registered? <a href="/Register" class="register-link">Register here</a></p>
        </div>

  </div>

  </div>

  <div id="customAlert" class="issue">
    <div class="issue-content">
      <!-- <span class="material-symbols-outlined">
        error
        </span> -->
      <p id="alertMessage"></p>
    </div>
  </div>

<!-- firebase script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
  <!-- login page script -->
<script src="../static/javaScript/login.js"></script>
</body>
</html>

