/* This file contains the styling for the registration page */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* form styling */
.form-space{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* image styling */
.signin-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* container styling */
.register-heading{
    align-items: center;
    font-size: 25px;
    margin-bottom: 2vh;
}

/* login container styling */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 30%;
  height: 100%;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
}

/* error message styling */
.error-message{
  display: flex;
  margin-bottom: 1vh
}

/* login styling */
.login {
  width: 90%;
}

/* form field styling */
.form__field {
  margin-bottom: 15px;
  margin-top: 1vh;
  font-family: var(--fontPoppins);
}

/* form field label styling */
.form__field label {
  display: block;
  margin-bottom: 2px;
}

/* form field input styling */
.form__field input[type='text'],
.form__field input[type='password'],
.form__field input[type='submit'] {
  height: 90%;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  font-family: var(--fontPoppins);
}

/* form field input styling */
.content-login{
  font-family: var(--fontPoppins);
  font-size: 18px;
}

/* form field input styling */
.form__field input[type='submit'] {
  background-color: #3b5160;
  height: 8vh;
  color: white;
  border: none;
  cursor: pointer;
}

/* form field input styling */
.form__field input[type='submit']:hover {
  background-color: black;
}

/* form field input styling */
.text--center {
  text-align: center;
}

/* form field input styling */
.signin-link{
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

/* form field input styling */
.signin-link:hover{
  color:#1e2c34;
}

/* form field input styling */
.registration-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 0.5vh;
  padding-bottom: 1vh;
  width: 90%;
}

/* form field input styling */
.error-message{
  display: flex;
  margin-bottom: 1vh;
  font-size: 16px;
  color: red;
  font-family: var(--fontPoppins);
}

/* form field input styling */
.issue {
  display: none; 
  position: fixed;
  text-align: center; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 

  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* form field input styling */
.issue-content {
  background-color: #414040;
  margin: 5% auto;
  color: rgb(238, 238, 238);
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  width: 30%;
  position: relative;
}

/* form field input styling */
@media screen and (max-width: 1000px) {
.login-container {
    width: 50%;
  }

  .login {
    margin: 0;
    width: 90%;
  }

  .form__field {
    margin-bottom: 15px;
  }

.form__field label {
    display: block;
    margin-bottom: 5px;
  }

     .form__field input[type='submit'] {
        height: 8vh;
    }

    .registration-bottom{
        font-size: 14px;
    }

    .register-heading{
        font-size: 20px;
    }

    .error-message{
        font-size: 14px;
    }

    .content-login{
        font-size: 16px;
    }

    .form__field input[type='text'], .form__field input[type='password']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .signin-link{
        font-size: 14px;
    }

    .issue-content{
        width: 50%;
    }

    .error-message{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }
}


@media screen and (max-width: 700px) {
    .login-container {
        width: 70%;
    }

    .login {
        margin: 0;
        width: 90%;
    }

    .form__field {
        margin-bottom: 15px;
    }

    .form__field label {
        display: block;
        margin-bottom: 5px;
    }

    .form__field input[type='submit'] {
        height: 8vh;
    }

    .registration-bottom{
        font-size: 14px;
    }

    .register-heading{
        font-size: 20px;
    }

    .error-message{
        font-size: 14px;
    }

    .content-login{
        font-size: 16px;
    }

    .form__field input[type='text'], .form__field input[type='password']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .signin-link{
        font-size: 14px;
    }

    .issue-content{
        width: 70%;
    }

    .error-message{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }
}


@media screen and (max-width: 500px) {

    .login {
        margin: 0;
        width: 90%;
    }

    .form__field {
        margin-bottom: 15px;
    }

    .form__field label {
        display: block;
        margin-bottom: 5px;
    }

    .form__field input[type='submit'] {
        height: 8vh;
    }

    .registration-bottom{
        font-size: 14px;
    }

    .register-heading{
        font-size: 20px;
    }

    .error-message{
        font-size: 14px;
    }

    .content-login{
        font-size: 16px;
    }

    .form__field input[type='text'], .form__field input[type='password']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .signin-link{
        font-size: 14px;
    }

    .issue-content{
        width: 90%;
    }

    .error-message{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }
}


@media screen and (max-height: 500px){
    .login-container {
        width: 90%;
    }

    .login {
        margin: 0;
        width: 90%;
    }

    .form__field {
        margin-bottom: 15px;
    }

    .form__field label {
        display: block;
        margin-bottom: 5px;
    }

    .form__field input[type='submit'] {
        height: 8vh;
    }

    .registration-bottom{
        font-size: 14px;
    }

    .register-heading{
        font-size: 20px;
    }

    .error-message{
        font-size: 14px;
    }

    .content-login{
        font-size: 16px;
    }

    .form__field input[type='text'], .form__field input[type='password']{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

    .signin-link{
        font-size: 14px;
    }

    .issue-content{
        width: 90%;
    }

    .error-message{
        font-size: 14px;
    }

    .form__field input[type='submit']{
        height: 8vh;
    }

    .form__field input[type='submit']{
        font-size: 14px;
    }

}
